version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.13
    working_directory: /go/src/github.com/nezorflame/opengapps-mirror-bot
    steps:
      - checkout
      - restore_cache:
          key: module-cache-{{ checksum "go.mod" }}
      - run:
          name: Check dependencies
          command: make deps
      - run:
          name: Test with coverage
          command: make test-cover
      - save_cache:
          key: module-cache-{{ checksum "go.mod" }}
          paths:
            - /go/pkg/mod/cache/download/
